#head {
  /* background: black; */
  height: 50px;
  width: 50px;
  /* background-color: green; */
  position: absolute;
}

body {
  height: 100%;
}

#board {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 700px;
  width: 700px;
  margin-top: -350px;
  margin-left: -350px;
  background-image: linear-gradient(45deg, #9ed474 25%, transparent 25%),
    linear-gradient(-45deg, #9ed474 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #9ed474 75%),
    linear-gradient(-45deg, transparent 75%, #9ed474 75%);
  background-size: 100px 100px;
  background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
  background-color: #b5e189;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}
